*{
    margin: 0;
    padding: 0;
}

.quadrado {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 100px 500px;
    margin: 0;
    background-color: #C99C9E;
    justify-content: space-between;
}
h2{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}
.final{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 20px 100px;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-family:Arial, Helvetica, sans-serif;


}
a{
    text-decoration: none;
    background-color:#851B1B ;
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    font-family:Arial, Helvetica, sans-serif;

}
h1{
    display: flex;
    font-size: 80px;
    margin-right: 70px;
    font-family:Arial, Helvetica, sans-serif;

}
h3{
    display: flex;
    font-size: 25.61px;
    font-family:Arial, Helvetica, sans-serif;

}
img{
    height: 533px;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}